{% extends 'sidenav-layout.html' %}

{% block content %}
  <div class="ip-container">
    <h1 class="ip-title">Failed IP List</h1>
    <ul class="ip-list">
    </ul>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      DataTable Example
    </div>
    <div class="card-body">
      <div class="datatable-wrapper">
        <table class="datatable-table">
          <thead>
            <tr>
              <th data-sortable="true" style="width: 10%">IP</th>
              <th data-sortable="true" style="width: 14.319526627218934%">호스트</th>
              <th data-sortable="true" style="width: 10%">위도</th>
              <th data-sortable="true" style="width: 10%">경도</th>
              <th data-sortable="true" style="width: 8%">지역</th>
              <th data-sortable="true" style="width: 13%">상세지역</th>
              <th data-sortable="true" style="width: 10%">국가</th>
              <th data-sortable="true" style="width: 30%">접속시간</th>
            </tr>
          </thead>
          <tbody>
            {% for ip in ips %}
            <tr>
              <td>{{ ip[0] }}</td>
              <td>{{ ip[1] }}</td>
              <td>{{ ip[2] }}</td>
              <td>{{ ip[3] }}</td>
              <td>{{ ip[5] }}</td>
              <td>{{ ip[4] }}</td>
              <td>{{ ip[6] }}</td>
              <td>{{ ip[7] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <link href="/static/css/ip-list.css" rel="stylesheet" />
{% endblock %}
